{% load staticfiles i18n %}<!doctype html>
<html>
<head>
    <title>thoughts</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="{% static 'components/external/webcomponentsjs/webcomponents.js' %}"></script>

    <link rel="import" href="{% static 'components/external/font-roboto/roboto.html' %}">
    <link rel="import" href="{% static 'components/external/core-icon/core-icon.html' %}">
    <link rel="import" href="{% static 'components/external/core-icons/social-icons.html' %}">
    <link rel="import" href="{% static 'components/external/paper-button/paper-button.html' %}">

    <link rel="import" href="{% static 'components/post-card.html' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body unresolved fullbleed layout vertical center>
    <div id="main-container">
        <div id="main-toolbar" layout horizontal center>
            <h1 flex>thoughts</h1>

            {% if user.is_authenticated %}
                {% for backend in backends.not_associated %}
                    <a href="{% url 'social:begin' backend=backend %}?next={{ request.path }}">
                        <paper-button class="button-connect {{ backend }}" raised>
                            <core-icon icon="social:post-{{ backend }}"></core-icon>
                            {% blocktrans with backend=backend %}connect {{ backend }}{% endblocktrans %}
                        </paper-button>
                    </a>
                {% endfor %}
                {% for association in backends.associated %}
                {% with association.provider as backend %}
                    {% if backends.associated|length > 1 %}
                        <form action="{% url 'social:disconnect' backend=backend %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}"/>
                            <paper-button class="button-disconnect button-iconless {{ backend }}">
                                <button>
                                {% blocktrans with backend=backend %}disconnect {{ backend }}{% endblocktrans %}
                                </button>
                            </paper-button>
                        </form>
                    {% else %}
                        <span>
                        {% blocktrans with backend=backend %}logged in with {{ backend }}{% endblocktrans %}
                        </span>
                    {% endif %}
                {% endwith %}
                {% endfor %}
                <a href="{% url 'logout' %}?next={{ request.path }}">
                    <paper-button class="button-iconless button-leave">{% trans "leave" %}</paper-button>
                </a>
            {% else %}
                {% for backend in backends.backends %}
                    <a href="{% url 'social:begin' backend=backend %}?next={{ request.path }}">
                        <paper-button class="button-connect {{ backend }}" raised>
                            <core-icon icon="social:post-{{ backend }}"></core-icon>
                            {% blocktrans with backend=backend %}log in with {{ backend }}{% endblocktrans %}
                        </paper-button>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

        <div id="thought-list" layout horizontal wrap>
            {% for thought in object_list %}
                {% include 'thought_item.html' with thought=thought only %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
