{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>
        {{ movie.translated_title }} <small>({{ movie.year }})</small>
    </h2>

    <div class="movie-controls">
        <a href="{{ movie.imdb_url }}" class="imdb-link" target="_blank" rel="nofollow">
            IMDb
            {% if movie.imdb_rating and movie.imdb_votes %}
                <span class="imdb-rating">
                    {% blocktrans with rating=movie.imdb_rating votes=movie.imdb_votes %}{{ rating }} from {{ votes }} users{% endblocktrans %}
                </span>
            {% elif movie.imdb_rating %}
                <span class="imdb_rating">
                    {{ movie.imdb_rating }}
                </span>
            {% endif %}
        </a>
    </div>

    <ul class="movie-meta">
        {% if movie.mpaa_rating %}
        <li>
            {{ movie.mpaa_rating }}
        </li>
        {% endif %}
        <li>
            {% if movie.release_date and not movie.is_released %}
                {% blocktrans with date=movie.release_date %}will be released on {{ date }}{% endblocktrans %}
            {% else %}
                {% blocktrans with date=movie.release_date %}released on {{ date }}{% endblocktrans %}
            {% endif %}
        </li>
    </ul>

    {% if movie.is_released %}
        {% include 'opinions/includes/create_form.html' %}
        {% if opinion_list %}
        <ol>
            {% for opinion in opinion_list %}
                {% include 'opinions/includes/list_item.html' %}
            {% endfor %}
        </ol>
        {% endif %}
    {% endif %}
{% endblock %}
