{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <table>
    <tbody>
        {% for parsed_movie in parsed_movie_list %}
        <tr>
            <td>
                {{ parsed_movie.title }}<br/>
                <small>{{ parsed_movie.source_id }}</small>
            </td>
            <td>{{ parsed_movie.additional_data }}</td>
            {% if parsed_movie.movie %}
            <td>
                <a href="{{ parsed_movie.movie.get_absolute_url }}">{{ parsed_movie.movie }}</a>
            </td>
            <td>
                {{ parsed_movie.additional_info }}
            </td>
            {% elif parsed_movie.suggestion %}
            <td>
                Suggestion: <a href="{{ parsed_movie.suggestion.get_absolute_url }}">{{ parsed_movie.suggestion }}</a>
            </td>
            {% else %}
            <td>
                No idea what this is.
            </td>
            {% endif %}
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
