{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if movie_list %}
        <ul>
            {% for movie in movie_list %}
            <li>
                <a href="{{ movie.get_absolute_url }}">{{ movie }}</a>
                {% if movie.imdb_rating %}
                    {{ movie.imdb_rating }}
                    {% if movie.imdb_votes %} ({{ movie.imdb_votes }}){% endif %}
                {% endif %}
                {% if movie.friend_tips %}
                    <ul>
                    {% for tip in movie.friend_tips %}
                        <li>
                            {{ tip.author }}<br/>
                            {{ tip }}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
        {% trans "No movies found" %}
        </p>
    {% endif %}
{% endblock %}
