<!doctype html>
{% set language = get_language() %}
<html lang="{{ language }}">
<head>
    <title>{% block title %}{{ _("Thinkies") }}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link href='//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang={{ language }}' rel='stylesheet' type='text/css'>

    {% assets 'main_css' %}<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css"/>{% endassets %}
</head>

<body>
    <div id="main-container">
        <header id="main-toolbar">
            <div id="logo-area">
                <a href="{{ reverse('site:index') }}" id="logo">{{ _("Thinkies") }}</a>
                {% include 'elements/language_chooser.jinja2' %}
            </div>
            <div id="user-area">
                {% include 'elements/user_area.jinja2' %}
            </div>
        </header>

        {% block search %}
        <form action="{{ reverse('site:search') }}" method="get" id="search">
            <span class="icon-search"></span>
            <input type="text" placeholder="{{ _("Search for movies") }}" value="{% block search_query %}{% endblock %}" name="q"/>
        </form>
        {% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer id="footer">
            <span class="heart">❤</span>
            {{ _("Made with love in St. Petersburg, 2015.") }}
        </footer>
    </div>

    {% assets 'main_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
</body>
</html>
