{% macro poster(movie, link=False) -%}
    {% if link %}<a href="{{ url('site:movie', pk=movie.pk) }}" class="poster">{% else %}<div class="poster">{% endif %}
    <div class="poster-content">
        {% if movie.translated.poster.image %}
        <img src="{{ movie.translated.poster.image.url }}" class="poster-image {% if movie.translated.poster.aspect_ratio > 0.66 %}wider{% else %}taller{% endif %}"/>
        {% else %}
        <span class="fake-poster">
            <span>{{ movie.translated.title }}</span>
        </span>
        {% endif %}
    </div>
    {% if link %}</a>{% else %}</div>{% endif %}
{% endmacro %}
