{% load i18n %}

{% if user.is_authenticated %}
<div id="user-dropdown-box">
    <a href="#" id="user-dropdown-toggle" data-toggle="#user-dropdown">
        <span class="user-picture">
            <img src="{{ user.default_identity.image.url }}" alt="{{ user.default_identity.name }}"/>
        </span>
    </a>
    <nav id="user-dropdown" hidden>
        <div id="user-dropdown-name">
            {{ user.default_identity.name }}
        </div>
        <ul class="user-nav-list">
            <li>
                <a href="{% url 'logout' %}?next={{ request.get_full_path|urlencode }}">
                    {% trans "log out" %}
                </a>
            </li>
        </ul>
    </nav>
</div>
{% else %}
    {% for backend in backends.backends %}
        <a href="{% url 'social:begin' backend=backend %}?next={{ request.get_full_path|urlencode }}" class="button">
            {% blocktrans with backend=backend %}log in with {{ backend }}{% endblocktrans %}
        </a>
    {% endfor %}
{% endif %}
