{% load i18n %}

{% if user.is_authenticated %}
<div id="user-dropdown-box">
    <a href="#" id="user-dropdown-toggle" data-toggle=".user-area-dropdown">
        <span class="user-picture">
            <img src="{{ user.default_identity.image.url }}" alt="{{ user.default_identity.name }}"/>
        </span>
    </a>
    <nav class="user-area-dropdown" hidden>
        <div id="user-dropdown-name">
            {{ user.default_identity.name }}
        </div>
        <ul class="user-nav-list">
            <li>
                <a href="{% url 'site:settings' %}">
                    {% trans "Settings" %}
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}?next={% if not is_on_private_page %}{{ request.get_full_path|urlencode }}{% else %}/{% endif %}">
                    {% trans "Log out" %}
                </a>
            </li>
        </ul>
    </nav>
</div>
{% else %}
<div id="login-dropdown-box">
    <a href="#" class="button" data-toggle=".user-area-dropdown">
        {% trans "Log in" %}
    </a>
    <nav class="user-area-dropdown" hidden>
        <ul class="login-nav-list">
        {% for provider in auth_providers %}
            <li>
                <a href="{% url 'social:begin' backend=provider.backend_name %}?next={{ request.get_full_path|urlencode }}" class="button brand-button {{ provider.name }}">
                    <span class="icon-{{ provider.name }} brand-icon"></span>
                {% blocktrans with provider=provider.verbose_name %}Log in with {{ provider }}{% endblocktrans %}
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
</div>

{% endif %}
