@charset "utf-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'RobotoDraft', sans-serif;
}

body {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: #666;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 2em;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    background: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: -0.5px;
    box-shadow: 1px 1px 3px #aaa;
    font-size: 1em;
    border: 0;
    line-height: 1;
}

.button:hover {
    background: white;
}

.heart {
    color: red;
}


/* User pictures */

.user-picture {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
}

.user-picture img {
    vertical-align: middle;
    height: 1.5em;
}

a:hover .user-picture::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    opacity: 0.2;
    content: ' ';
}


/* Brand icons */

.brand-icon {
    font-size: 1em;
    vertical-align: middle;
    display: inline-block;
}

.brand-icon.icon-twitter { color: #55ACEE; }
.brand-icon.icon-facebook { color: #3b5998; }
.brand-icon.icon-vk { color: #597DA3; }

.brand-button .brand-icon {
    color: inherit;
    margin-right: 5px;
}

.brand-button.facebook { color: white; background: #3b5998; }
.brand-button.twitter { color: white; background: #55ACEE; }
.brand-button.vk { color: white; background: #597DA3; }


/* Base styles */

#main-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;

    margin: 0 20px;
    min-height: 100%;
}

@media (min-width: 441px) {
    #main-container {
        width: 400px;
    }
}

@media (min-width: 921px) {
    #main-container {
        width: 840px;
    }
}

#main-toolbar {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: baseline;
    -webkit-align-items: baseline;

    margin-top: 3rem;
}

#logo-area {
    flex: 1;
    -webkit-flex: 1;
}

#logo {
    font-size: 2.1em;
    font-weight: 600;
    display: inline;
    vertical-align: baseline;
}

#language-chooser {
    display: inline;
    vertical-align: baseline;
}


#content {
    flex: 1;
    -webkit-flex: 1;
    margin-top: 3rem;
}

#footer {
    margin: 5rem 0 3rem 0;
    text-align: center;
    font-size: 0.8em;
    color: #AAA;
}


/* User area */

#user-area {
    align-self: center;
    -webkit-align-self: center;

    margin: -1rem 0;
}

.user-area-dropdown {  /* generic user area dropdown, user for both non-logged-in and logged-in users */
    position: absolute;
    background: white;
    box-shadow: 1px 2px 5px #aaa;
    transition: 0.15s;
}

.user-area-dropdown[hidden] {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0.9);
}

#user-dropdown-box {
    position: relative;
}

#user-dropdown-box .user-area-dropdown {
    right: -0.5rem;
    top: -0.5rem;
    width: 15rem;
    z-index: 5;
}

.user-nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.9em;
    border-top: 1px solid #ddd;
}

.user-nav-list > li a {
    display: block;
    padding: 0.5rem 1rem;
}

#user-dropdown-name {
    padding: 0 1rem;
    margin-right: 4rem;
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 4rem;
    font-weight: bolder;
}

#user-dropdown-toggle {
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 10;
}

#user-dropdown-toggle::after {
    vertical-align: middle;
    content: '⋮';
    font-size: 1.5rem;
}

#user-area .user-picture img {
    height: 3rem;
}


#login-dropdown-box {
    position: relative;
}

#login-dropdown-box .user-area-dropdown {
    top: 100%;
    right: -0.5rem;
    z-index: 5;
    margin-top: 0.5rem;
}

.login-nav-list {
    padding: 0;
    margin: 1rem;
    list-style: none;
}

.login-nav-list > li {
    margin: 1rem 0;
}

.login-nav-list .button {
    width: 12rem;
}

/* Search */

#search {
    margin-top: 2rem;
    position: relative;
}

#search .icon-search {
    position: absolute;
    left: 0.8em;
    top: 0.6em;
    pointer-events: none;
    color: #777;
}

#search input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    border: 0;
    padding: 0.6em 0.8em 0.6em 2.4em;
    box-shadow: 1px 2px 5px #aaa;
    background: white;
}

#search input:focus {
    outline: 0;
    box-shadow: 2px 3px 8px #999;
}


/* Generic movie poster */

.poster {
    display: block;
    box-shadow: 1px 2px 5px #aaa;
    border: none;
    position: relative;
    text-decoration: none;
    overflow: hidden;

}

.poster::before {
    content: ' ';
    display: block;
    padding-bottom: 150%;
}

.poster-content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

a.poster:hover::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    opacity: 0.2;
    content: ' ';
}

.fake-poster {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;

    text-transform: uppercase;
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.2);
    font-size: 1.8em;
    letter-spacing: 0;
    background: #777;
    font-weight: 600;
    line-height: 1;
    box-sizing: border-box;
}


/* Generic movie info line */

.movie-info {
    padding: 0;
    margin: 0.6rem 0 0 0;
    list-style: none;
    display: block;
    font-size: 0.8em;
    color: #666;
}

.movie-info > li {
    display: inline;
}

.movie-info > li::before {
    content: '• ';
}

.movie-info > li:first-child::before {
    content: '';
}


/* Generic movie controls */

.movie-controls {
    padding: 0;
    margin: 0.6rem 0 0 0;
    list-style: none;
    display: block;
    font-size: 0.9em;
}

.movie-controls > li {
    display: inline;
    margin: 0 0.25em;
}

.movie-controls > li:first-child {
    margin-left: 0;
}


/* Index page */

#index-movie-list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    padding: 0;
    list-style: none;
    margin: -20px;
}

#index-movie-list > li {
    width: 400px;
    margin: 20px;
}

.movie-card {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.movie-card .poster-box {
    margin-right: 20px;
    width: 25%;

    flex: none;
    -webkit-flex: none;
}

.movie-card .poster-box .poster { width: 100%; }

.movie-card h2 {
    margin: 0;
    font-weight: 300;
    font-size: 1.5em;
}


/* Search results */

#search-results {
    padding: 0;
    margin: 0;
    list-style: none;
}

#search-results > li {
    margin: 15px 0 0 0;
    padding: 0;
}

#search-results > li:first-child {
    margin-top: 0;
}

.search-result {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.search-result .poster-box {
    margin-right: 15px;
    width: 50px;
    font-size: 0.8em;

    flex: none;
    -webkit-flex: none;
}

.search-result .poster-box .poster { width: 100%; }


/* Settings */

#settings section {
    margin-bottom: 2rem;
}

.identity-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.identity-list > li {
    margin: 1.5em 0;
}

.identity-radio {
    margin-right: 5px;
}

.identity-label {
    display: block;
    margin: -1.5em 0;
    padding: 1.5em 0;
}

.identity-label .user-picture {
    margin-top: -2px;
}

.account-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.account-list > li {
    margin: 1.5rem 0;
    height: 2rem;
    line-height: 2rem;
}

.account-label {
    display: inline-block;
    width: 6em;
}
