{% from 'details.jinja2' import poster %}
<div class="movie-card">
    <div class="poster-box">
        {{ poster(movie, link=True) }}
    </div>
    <div>
        <h2>
            <a href="{{ reverse('site:movie', kwargs={'pk': movie.pk}) }}">
                {{ movie.translated.title }}
            </a>
        </h2>

        <ul class="movie-info">
            <li>{{ movie.year }}</li>
            {% if movie.mpaa_rating %}
            <li>{{ movie.mpaa_rating }}</li>
            {% endif %}
            <li><a href="{{ movie.imdb_url }}" target="_blank" rel="nofollow">IMDb{% if movie.imdb_rating %} {{ movie.imdb_rating }}{% endif %}</a></li>
            {% if movie.translated.wikipedia_page %}
            <li><a href="{{ movie.translated.wikipedia_url }}" target="_blank" rel="nofollow">{{ _("Wikipedia") }}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
