{% extends 'base.jinja2' %}

{% from 'details.jinja2' import poster %}
{% from 'utils.jinja2' import csrf_input, page_title %}

{% block title %}{{ page_title(movie.translated.title) }}{% endblock %}

{% block content %}
<article id="movie">
    <div class="poster-box">{{ poster(movie) }}</div>
    <div style="flex: 1">
        <h1>{{ movie.translated.title }}</h1>
        <ul class="movie-info">
            <li>{{ movie.year }}</li>
            {% if movie.mpaa_rating %}
            <li>{{ movie.mpaa_rating }}</li>
            {% endif %}
            <li><a href="{{ movie.imdb_url }}" target="_blank" rel="nofollow">IMDb{% if movie.imdb_rating %} {{ movie.imdb_rating }}{% endif %}</a></li>
            {% if movie.translated.wikipedia_page %}
            <li><a href="{{ movie.translated.wikipedia_url }}" target="_blank" rel="nofollow">{{ _("Wikipedia") }}</a></li>
            {% endif %}
        </ul>

        {% if request.user.is_authenticated() %}
        <form action="." method="post" class="tip-form">
            {{ csrf_input(csrf_token) }}
            <span class="user-picture"><img src="{{ request.user.default_identity.image.url }}"/></span>
            {{ tip_form.text }}
            <button class="button">{{ _("Post") }}</button>
        </form>
        {% endif %}

        <ul class="tip-list">
        {% for tip in tip_list %}
            <li class="tip">
                <div class="author">
                    <span class="user-picture"><img src="{{ tip.author.default_identity.image.url }}"/></span>
                    {{ tip.author.default_identity.name }}
                </div>
                <p>
                    {{ tip }}
                </p>
                <footer>
                    {{ tip.creation_date }}
                </footer>
            </li>
        {% endfor %}
        </ul>
    </div>
</article>
{% endblock %}
