{% extends 'base.jinja2' %}

{% from 'utils.jinja2' import page_title %}

{% block title %}{{ page_title(_("Search results for “{}”").format(query)) }}{% endblock %}
{% block search_query %}{{ query }}{% endblock %}

{% block content %}
{% if movie_list %}
    <ol id="search-results">
    {% for movie in movie_list %}
        <li>{% include 'elements/search_result.jinja2' %}</li>
    {% endfor %}
    </ol>
{% else %}
    <p class="sadface">
        {{ _("No search results, sorry :(") }}
    </p>
{% endif %}
{% endblock %}
