{% extends 'base.jinja2' %}

{% from 'utils.jinja2' import csrf_input, page_title %}

{% block title %}{{ page_title(_("Settings")) }}{% endblock %}
{% block search %}{% endblock %}

{% block content %}
<article id="settings">
    <h1>{{ _("Settings") }}</h1>

    {% if identities|length > 1 %}
    <section>
        <form action="." method="post">
            {{ csrf_input(csrf_token) }}
            <h2>{{ _("Post as") }}</h2>
            <ul class="identity-list">
                {% for identity, widget in identity_widgets %}
                <li>
                    <label class="identity-label" for="{{ widget.id_for_label }}">
                        {{ widget.tag() }}

                        <span class="icon-{{ identity.provider }} brand-icon"></span>

                        <span class="user-picture">
                            <img src="{{ identity.image.url }}" alt="{{ identity.name }}"/>
                        </span>

                        {{ identity.name }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            <button class="button">{{ _("Save") }}</button>
        </form>
    </section>
    {% endif %}

    <section>
    <h2>{{ _("Accounts") }}</h2>
        <ul class="account-list">
            {% for provider in get_auth_providers(request.user) %}
            <li>
                {% if not provider.is_associated %}
                    <label class="account-label">{{ provider.verbose_name }}</label>
                    <a href="{{ url('social:begin', backend=provider.backend_name) }}?next={{ request.get_full_path()|urlencode }}" class="button brand-button {{ provider.backend_name }}">
                        <span class="brand-icon icon-{{ provider.name }}"></span>
                        {{ _("Connect") }}
                    </a>
                {% elif identities|length > 1 %}
                    <form action="{{ url('social:disconnect', backend=provider.backend_name) }}" method="post">
                        {{ csrf_input(csrf_token) }}
                        <input type="hidden" name="next" value="{{ request.get_full_path() }}"/>
                        <label class="account-label">{{ provider.verbose_name }}</label>
                        <button class="button {{ provider.name }}-button">
                        {{ _("Disconnect") }}
                        </button>
                    </form>
                {% else %}
                    <label class="account-label">{{ provider.verbose_name }}</label>
                    {{ _("logged in") }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock %}

