html,body {
    height: 100%;
    margin: 0;
    background: white;
    font-family: 'RobotoDraft', sans-serif;
}

#main-container {
    margin: 40px 20px;
}

@media (min-width: 441px) {
    #main-container {
        width: 400px;
    }
}

@media (min-width: 921px) {
    #main-container {
        width: 840px;
    }
}

/* thought list */

#thought-list {
    margin: 0 -20px;
}

.thought-card {
    display: block;
    position: relative;
    padding: 20px;
    width: 400px;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
}

.thought-card {
    box-shadow: 2px
}

@media (max-width: 481px) {
    .thought-card {
        width: auto;
    }
}

.card-header {
    margin-bottom: 10px;
}

.card-header h2 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;
}

.card-header img {
    width: 70px;
    border-radius: 50%;
    margin: 10px;
}

.card-meta {
    font-size: 0.8rem;
    color: gray;
    margin: 1rem 0;
}

.movie-controls {
    margin: 1rem 0 0 -0.29em;
}


/* buttons */

.imdb-button {
    background: #F9EA93;
    color: #333310;
    text-transform: none;
    font-family: "Impact";
    min-width: 0;
}

.imdb-button:hover {
    background: #f5de50;
}

.imdb-button::shadow .button-content {
    padding: 0;
    padding: 4px 7px;
}
