{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% blocktrans with title=movie.translated_title %}{{ title }} — Thinkies{% endblocktrans %}{% endblock %}

{% block content %}
<article id="movie">
    <div class="poster-box">
        <div class="poster" style="width: 100%;">
            {% if movie.poster %}
            <img src="{{ movie.poster.url }}" class="poster-content"/>
            {% else %}
            <span class="poster-content fake-poster">
                <span>{{ movie.translated_title }}</span>
            </span>
            {% endif %}
        </div>
    </div>
    <div style="flex: 1">
        <h1>{{ movie.translated_title }}</h1>
        <ul class="movie-info">
            <li>{{ movie.year }}</li>
            {% if movie.mpaa_rating %}
            <li>{{ movie.mpaa_rating }}</li>
            {% endif %}
            <li><a href="{{ movie.imdb_url }}" target="_blank" rel="nofollow">IMDb{% if movie.imdb_rating %} {{ movie.imdb_rating }}{% endif %}</a></li>
            {% if movie.localization.wikipedia_page %}
            <li><a href="//{{ movie.localization.language }}.wikipedia.org/wiki/{{ movie.localization.wikipedia_page }}" target="_blank" rel="nofollow">{% trans "Wikipedia" %}</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <form action="." method="post" class="tip-form">
            {% csrf_token %}
            <span class="user-picture"><img src="{{ user.default_identity.image.url }}"/></span>
            {{ tip_form.text }}
            <button class="button">{% trans "Post" %}</button>
        </form>
        {% endif %}
        <ul class="tip-list">
        {% for tip in tip_list %}
            <li class="tip">
                <div class="author">
                    <span class="user-picture"><img src="{{ tip.author.default_identity.image.url }}"/></span>
                    {{ tip.author.default_identity.name }}
                </div>
                <p>
                    {{ tip }}
                </p>
                <footer>
                    {{ tip.creation_date }}
                </footer>
            </li>
        {% endfor %}
        </ul>
    </div>
</article>
{% endblock %}
