{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% blocktrans with query=query %}search results for “{{ query }}” — thinkies{% endblocktrans %}{% endblock %}
{% block search_query %}{{ query }}{% endblock %}

{% block content %}
{% if movie_list %}
    <ol id="search-results">
    {% for movie in movie_list %}
        <li>{% include 'elements/search_result.html' %}</li>
    {% endfor %}
    </ol>
{% else %}
    <p class="sadface">
        {% trans "No search results, sorry :(" %}
    </p>
{% endif %}
{% endblock %}
