{% load i18n %}
{% if user.is_authenticated %}
    {% for backend in backends.not_associated %}
        <a href="{% url 'social:begin' backend=backend %}?next={{ request.path }}">
            <paper-button class="button-connect {{ backend }}" raised>
                <core-icon icon="social:post-{{ backend }}"></core-icon>
                {% blocktrans with backend=backend %}connect {{ backend }}{% endblocktrans %}
            </paper-button>
        </a>
    {% endfor %}
    {% for association in backends.associated %}
    {% with association.provider as backend %}
        {% if backends.associated|length > 1 %}
            <form action="{% url 'social:disconnect' backend=backend %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}"/>
                <paper-button class="button-disconnect button-iconless button-yo-dawg {{ backend }}">
                    <button>
                    {% blocktrans with backend=backend %}disconnect {{ backend }}{% endblocktrans %}
                    </button>
                </paper-button>
            </form>
        {% else %}
            <span>
            {% blocktrans with backend=backend %}logged in with {{ backend }}{% endblocktrans %}
            </span>
        {% endif %}
    {% endwith %}
    {% endfor %}
    <a href="{% url 'logout' %}?next={{ request.path }}">
        <paper-button class="button-iconless button-leave">{% trans "leave" %}</paper-button>
    </a>
{% else %}
    {% for backend in backends.backends %}
        <a href="{% url 'social:begin' backend=backend %}?next={{ request.path }}">
            <paper-button class="button-connect {{ backend }}" raised>
                <core-icon icon="social:post-{{ backend }}"></core-icon>
                {% blocktrans with backend=backend %}log in with {{ backend }}{% endblocktrans %}
            </paper-button>
        </a>
    {% endfor %}
{% endif %}
